.Imagem{
    width: 80px!important;
    height: 60px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 10px;
    color: rgb(146, 83, 204);
    margin-bottom: 7px;
    text-align: center;
}

.informacoes{
    background-color: rgb(147, 192, 192);
    width: 2000px;
    height: 300px;

}
@media screen and (min-width: 1024px){
    .griding{
        background-color: rgb(146, 83, 204)

    }
    .Imagem{
        border-top: 10px groove rgb(29, 114, 129);
        border-left: 10px dotted rgb(139, 127, 209);
        border-right: 10px solid rgb(216, 72, 72);
        border-bottom: 10px dashed rgb(103, 160, 112);
        width: 180px !important;
        height: 160px !important;
        display: block;
    }  
    .titulo{
        font-size: 30px;

    }  

}   
@media screen and (min-width:1024px) {
    body{background: rgb(146, 112, 112);}

    .Imagem{
        border: 3px solid rgb(82, 8, 8);
        width: 130px!important;
        height: 130px!important;
    }

    .titulo_cabecalho{
        font-size: 35px;
        color:rgb(95, 6, 6);
        
    }


    
    .informacoes{
        font-size: 20px;
        color: rgb(146, 83, 204);
        margin-bottom: 50px;
        text-decoration: midnightblue;
        
    }
}

.secao__banner {
    width: 100%;
    display: block;
}